html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #32292F;
  --green-color: #70ABAF;
  --brown-color: #32292F;
}

/*Header*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  padding-bottom: 10px;
  overflow: hidden;
  top: 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#upper_line {
  height: 1.5rem;
  background-color: var(--green-color);
  margin-bottom: 0.5rem;
}

nav a {
  color: var(--green-color);
}

.left_right {
  color: var(--green-color);
  border-bottom: solid var(--green-color) 2px;
  border-top: solid var(--green-color) 2px;
  font-size: 1.6rem;
}

#name {
  font-size: 1.8rem;
  color: var(--brown-color);
}

#name a {
  color: var(--brown-color);
}

/* Intro Section*/

#intro_section {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

img {
  width: 70%;
}

#short_text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#short_text h1 {
  font-size: 1.8rem;
}


/*About Me*/

#about_me {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#about_me img {
  width: 40%;
}

#text_about {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 9.7rem;
}

#text_about h1 {
  font-size: 1.8rem;
}


/*Rate Me*/

#rate_section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

#rate_title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  line-height: 4rem;
}

#rate_section h1 {
  width: 20rem;
  font-size: 1.8rem;
  background-color: var(--green-color);
}

#rate_me {
  border: #32292F 2px solid;
}

#star_flex {
  display: flex;
  justify-content: center;
  
}

.star-rating {
  text-align: left;

}

.star-rating__stars {
  position: relative;
  height: 5rem;
  width: 25rem;
  background: url(./img/off.svg);
  background-size: 5rem 5rem;
}

.star-rating__label {
  position: absolute;
  height: 100%;
  background-size: 5rem 5rem;
}

.star-rating__input {
  margin: 0;
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.star-rating__stars .star-rating__label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}

.star-rating__stars .star-rating__label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}

.star-rating__stars .star-rating__label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}

.star-rating__stars .star-rating__label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}

.star-rating__stars .star-rating__label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}

.star-rating__input:checked + .star-rating__label,
.star-rating__input:focus + .star-rating__label,
.star-rating__label:hover {
  background-image: url(./img/on.svg);
}

.star-rating__label:hover ~ .star-rating__label {
  background-image: url(./img/off.svg);
}

.star-rating__input:focus ~ .star-rating__focus {
  position: absolute;
  top: -.25em;
  right: -.25em;
  bottom: -.25em;
  left: -.25em;

}


/*Contact Me*/

#contact_me {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#contact_title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  line-height: 4rem;
}

#contact_me h1 {
  width: 20rem;
  font-size: 1.8rem;
  background-color: var(--green-color);
  border-radius: 50%;
}

#contact_text {
  padding-left: 9.7rem;
  padding-right: 9.7rem;
}

#contact_me img {
  width: 1.5%;
}

/*Footer*/

footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

a {
  color: var(--brown-color);
}

#lower_line {
  height: 3rem;
  background-color: var(--green-color);
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

#lower_line ul {
  display: flex;
  justify-content: space-around;
}

/*Mobile adjust*/

@media only screen and (min-width: 1023px) {

  #upper_line_mob, #upper_line_mob_menu {
    display:none;
  }

  #picture_mob {
    display: none;
  }

  #lower_line_mob, #lower_line_mob_menu {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {

  /*Upper Menu*/
  #upper_line, .left_right, #name {
    display:none;
  }

  #menu_items_styled {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav_item {
    color: var(--green-color);
    border-bottom: solid var(--green-color) 2px;
    border-top: solid var(--green-color) 2px;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #name_mob {
      font-size: 1.8rem;
      color: var(--brown-color);
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  /*Inro Section*/

  #intro_section {
    display: none;
  }

  /*About Me*/

  #about_me {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #picture {
    display: none;
  }

  #text_about {
    margin-left: 2rem;
    margin-right: 2rem;

  }

  #picture_mob {
    margin-top:10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #contact_me h1 {
    width: 20rem;
    font-size: 1.8rem;
    background-color: var(--green-color);
  }

  #contact_text {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #contact_me img {
    width: 10%;
  }

  /*Lower Menu*/

  #lower_line {
    display: none;
  }

  /*Lower Line*/

  #lower_line_mob_menu {
    background-color: var(--green-color);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

}